/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    /* background-image: url("./assets/devices.png");
    background-size: cover; */

        background: linear-gradient(to bottom, #33ccff 0%, #395867 100%) no-repeat center center fixed;;
        height: 100%;
        margin: 0;
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        /* background-attachment: fixed; */
}